h1,h2,h3,h4,h5,h6,div,p,span{
	font-size:18px;font-family:helvetica
	padding:0;
	margin:0;
}
 body{
 	padding:33px;
 }
 span{
 	line-height:20px;
 }
 input{
 	line-height:20px;font-size:18px;width:96px;
 }
 .warning{
 	border:red solid 2px
 }
 .comp_root{
 	background: red;
 	color: white;
 }
 #app{
 	background: orange;
 	padding: 25px;
 	color: blue
 }